.center {
  text-align: center;
}

.end-button {
  padding: 1rem !important;
  background-color: red !important;
  color: white !important;
  width: 60% !important;
}

.add-button {
  background-color: green !important;
  color: white !important;
  width: 20% !important;
  padding: 1rem !important;
}